<?xml version="1.0"?>
<model>
  <name>cube with colored circle </name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>YOUR NAME HERE</name>
    <email>YOUR EMAIL HERE</email>
  </author>

  <description>
    cube with colored circle to serve as keypts for OF
  </description>

</model>