<?xml version="1.0"?>

<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find apriltag_gazebo)/worlds/empty_world.world" />
        <arg name="extra_gazebo_args" default="--verbose"/>

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
                <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)"/>
        </include>

	<!-- spawn april tags -->


        <node name="spawn_urdf_1" pkg="gazebo_ros" type="spawn_model" args="-file $(find apriltag_description)/urdf/aptag1.urdf -urdf -x 0 -y 5 -z 0.5 -model aptag1" />

                <!-- Configuration of Jackal which you would like to simulate.
              See jackal_description for details. -->
                 <!-- Spawn Jackal -->
        <include file="$(find apriltag_gazebo)/launch/spawn_jackal.launch">
                <arg name="x" value="0" />
                <arg name="y" value="0" />
                <arg name="z" value="1.0" />
                <arg name="yaw" value="0" />
        </include>
        
        <node name="ap_tag" pkg="apriltag_gazebo" type="detec.py" output="screen"/>

        <include file="$(find apriltag_ros)/launch/continuous_detection.launch">   
                <arg name="camera_frame" value="front_realsense"/>
        </include>

</launch>       


